// Controllers
div.controller-container
  span#big.controller.is_current BIG CARD
  span#medium.controller MEDIUM CARD
  span#small.controller SMALL CARD


// Cards
.card.card--big
  div.card__image(style='background-image: url(https://placeimg.com/640/480/nature)')
  h2.card__title Kangaroo Valley Safari
  span.card__subtitle By Mattia Astorino
  p.card__text Located two hours south of Sydney in the Southern Highland of New South Wales...
  div.card__action-bar
    button.card__button SHARE
    button.card__button LEARN MORE